<div class="container-fluid">
  <nav>
    <div class="row bg-light shadow p-3 bg-white">
      <div class="col-sm-7">
        <i class="fa-solid fa-camera me-3"></i><b>PHOTOGRAPHERS HUB</b>
      </div>
      <div class="enr col-sm-3">
        <a routerLink="/login"><b>ENROLL AS PHOTOGRAPHER</b></a>
      </div>
      <div class="col-sm-2 dropdown">
        <button class="dropbtn"><i class="fa fa-user"></i></button>
        <div class="dropdown-content">
          <a routerLink="" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="card mt-5 rounded-4 shadow box-area p-5 bg-white">
  <div class="editprofiledata">
    <form [formGroup]="_editform" (ngSubmit)="update(_editform)">
      <fieldset>
        <legend>EDIT PROFILE:</legend>
        <div class="row1">
          <div class="column">
            <label>Name:</label>

            <input
              type="text"
              formControlName="username"
              name="username"
              value="{{ username }}"
            />
          </div>
          <div class="column">
            <label>Email:</label>
            <input
              type="email"
              formControlName="email"
              name="email"
              value="{{ email }}"
            />
          </div>
          <div class="column">
            <label>Mobile:</label>
            <input
              type="tel"
              formControlName="phone"
              name="phone"
              value="{{ phone }}"
            />
          </div>
          <div class="column">
            <label>Address:</label>
            <input
              type="text"
              formControlName="Address"
              name="Address"
              required
            />
          </div>
          <div class="column">
            <label>City:</label>
            <input type="text" formControlName="City" name="City" required />
          </div>
          <div class="column">
            <label>Upload Images:</label>
            <br>
            <br>
            <input
              type="file"
              id="file"
              name="image"
              formControlName="image"
              multiple
              (change)="load($event)"
            />
          </div>
          <br>
          <div class="updatebtn">
            <button class="btn btn-info" type="submit">Update</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<div class="container3">
  <div class="smallbar">
    <i class="fa-solid fa-camera me-3"></i><b>PHOTOGRAPHERS HUB</b>
  </div>
  <br />
  <div class="container4">
    <div class="footers">
      <h4>Get Connected</h4>
      <div class="footer1">
        <a href="#">Enroll as photographer</a><br />
        <a href="#">Blogs</a><br />
        <a href="#">News</a><br />
        <a href="#">Dashboard</a><br />
      </div>
    </div>
    <div class="footers">
      <h4>Resources</h4>
      <div class="footer1">
        <a href="#">Support</a><br />
        <a href="#">Support Hardware</a><br />
        <a href="#">Docs</a><br />
        <a href="#">Using Photographer hub</a><br />
      </div>
    </div>
    <div class="footers">
      <h4>Company</h4>
      <div class="footer1">
        <a href="#">About us</a><br />
        <a href="#">Careers</a><br />
        <a href="#">PartnerShips</a><br />
        <a href="#">Slogans</a><br />
      </div>
    </div>
    <div class="footers">
      <h4>Social</h4>
      <div class="footer1">
        <a href="#">Twitter</a><br />
        <a href="#">Facebook</a><br />
        <a href="#">Linkedin</a><br />
        <a href="#">Github</a><br />
      </div>
    </div>
    <div class="footers">
      <h4>Developers</h4>
      <div class="footer1">
        <a href="#">Forum</a><br />
        <a href="#">Projects</a><br />
        <a href="#">Open Source</a><br />
      </div>
    </div>
  </div>

  <br />
  <hr />
  <div class="container5">
    <div class="copyright">
      <label>@2023 Photographers hub</label>
    </div>
    <div class="copyright">
      <a href="#">Terms</a>
    </div>
    <div class="copyright">
      <a href="#">Privacy</a>
    </div>
  </div>
</div>
