<div class="container-fluid">
  <nav>
    <div class="row bg-light shadow p-3 bg-white">
      <div class="col-sm-7">
        <i class="fa-solid fa-camera me-3"></i><b>PHOTOGRAPHERS HUB</b>
      </div>

      <div class="enr col-sm-3">
        <a routerLink="/login"><b>ENROLL AS PHOTOGRAPHER</b></a>
      </div>
      <div class="col-sm-2 dropdown">
        <button class="dropbtn"><i class="fa fa-user"></i></button>
        <div class="dropdown-content">
          <a routerLink="/login">Login</a>
          <a routerLink="" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="firstpic">
  <img src="../assets/images/firstpic.jpg" />
  <div class="centered">
    Taking an image, freezing a moment, reveals how rich reality truly is.
  </div>
</div>
<br>
<h1>Portraiture</h1>
<div class="row1">
  <div class="column">
    <div class="column1">
      <img src="../assets/images/homepic1.jpg" style="width: 100%" />
    </div>
  </div>
  <div class="column">
    <div class="column2">
      <img src="../assets/images/homepic2.jpg" style="width: 100%" />
    </div>
  </div>
  <div class="column">
    <div class="column3">
      <img src="../assets/images/homepic3.jpg" style="width: 100%" />
    </div>
  </div>
</div>
<br />
<div class="container">
  <div class="quote">
    <label>Each Shot is Already a History</label>
  </div>
</div>
<br />

<div class="container1">
  <div class="para">
    <p align="justify">
      Photography is an important tool for preserving memories and telling
      stories. Images let individuals relate to one another and also shed light
      on the past. Taking up photography is great because it forces you to
      document your experiences.
    </p>
  </div>
  <div class="image">
    <img
      class="rotate"
      src="../assets/images/homepic3.jpg"
      style="width: 100%"
    />
  </div>
</div>
<hr />
<br />
<div class="container2">
  <div class="column">
    <div class="quote1">
      <h2>Smile</h2>
    </div>
  </div>
  <div class="column">
    <div class="quote2">
      <img src="../assets/images/homegif.gif" />
    </div>
  </div>
  <div class="column">
    <div class="quote3">
      <h2>Please</h2>
    </div>
  </div>
</div>
<br />
<hr />
<br />
<div class="container3">
  <div class="smallbar">
    <i class="fa-solid fa-camera me-3"></i><b>PHOTOGRAPHERS HUB</b>
  </div>
  <br />
  <div class="container4">
    <div class="footers">
      <h4>Get Connected</h4>
      <div class="footer1">
        <a href="#">Enroll as photographer</a><br />
        <a href="#">Blogs</a><br />
        <a href="#">News</a><br />
        <a href="#">Dashboard</a><br />
      </div>
    </div>
    <div class="footers">
      <h4>Resources</h4>
      <div class="footer1">
        <a href="#">Support</a><br />
        <a href="#">Support Hardware</a><br />
        <a href="#">Docs</a><br />
        <a href="#">Using Photographer hub</a><br />
      </div>
    </div>
    <div class="footers">
      <h4>Company</h4>
      <div class="footer1">
        <a href="#">About us</a><br />
        <a href="#">Careers</a><br />
        <a href="#">PartnerShips</a><br />
        <a href="#">Slogans</a><br />
      </div>
    </div>
    <div class="footers">
      <h4>Social</h4>
      <div class="footer1">
        <a href="#">Twitter</a><br />
        <a href="#">Facebook</a><br />
        <a href="#">Linkedin</a><br />
        <a href="#">Github</a><br />
      </div>
    </div>
    <div class="footers">
      <h4>Developers</h4>
      <div class="footer1">
        <a href="#">Forum</a><br />
        <a href="#">Projects</a><br />
        <a href="#">Open Source</a><br />
      </div>
    </div>
  </div>
  <br />
  <hr />
  <div class="container5">
    <div class="copyright">
      <label>@2023 Photographers hub</label>
    </div>
    <div class="copyright">
      <a href="#">Terms</a>
    </div>
    <div class="copyright">
      <a href="#">Privacy</a>
    </div>
  </div>
</div>
